<%= link_to group_deals_path(group) do %>
  <div class="flex px-4 py-3 bg-white gap-x-4">
    <div class="h-20 w-20 overflow-hidden">
      <img src="<%= group.icon %>" />
    </div>
    <div class="grow flex flex-col justify-between">
      <div class="flex justify-between">
        <h2 class="text-neutral-600"><%= group.name %></h2>
        <div class="text-neutral-900 font-semibold"><%= number_to_currency group.total_amount %></div>
      </div>
      <small class="text-neutral-400"><%= group.created_at.strftime("%d %b %Y") %></small>
    </div>
  </div>
<% end %>
