<% input_classes = 'w-full h-14 border-none focus:ring-0' %>
<div class="px-4">
  <%= render 'users/shared/error_messages', resource: resource %>
</div>
<%= form_for resource, as: resource_name, url: registration_path(resource_name)  do |form| %>
  <div class="flex flex-col px-4 border-y border-neutral bg-white">
    <div>
      <%= form.text_field :name, class: input_classes, placeholder: "Full name", autofocus: true %>
    </div>
    <div class="border-t border-neutral"></div>
    <div>
      <%= form.email_field :email, class: input_classes, autocomplete: "email", placeholder: "Email" %>
    </div>
    <div class="border-t border-neutral"></div>
    <div>
      <%= form.password_field :password, class: input_classes, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <div class="border-t border-neutral"></div>
    <div>
      <%= form.password_field :password_confirmation, class: input_classes, autocomplete: "new-password", placeholder: "Password confirmation" %>
    </div>
  </div>
  <div class="mt-8">
    <button type="submit" class="w-full px-4 py-2 text-main bg-main/10 tracking-wide">
      Sign up
    </button>
  </div>
<% end %>
